img{
    border-radius: 50%;
    width: 6em;
    height: 6em;
    margin-right: 0.5em;
}
:host{
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    background-color: var(--block);
    align-items: center;
    border: 1px solid black;
    font-size: 1.3em;
}
span{
    cursor: pointer;
}