<div class="welcome">
    <h1>
        Ласкаво просимо до Dotapedia!
    </h1>
    <br>
    <p>
        Це місце, де ви можете знайти велику спільноту гравців Dota 2, готових обмінюватись інформацією, досвідом та статистикою. Наш форум - це місце, де ви можете задати запитання, поділитися своїми стратегіями, зустріти нових друзів та дізнатися про останні тренди у світі Dota 2.
    </p>
    <img src="https://clan.cloudflare.steamstatic.com/images/3703047/a9e6577c51f5276b111dce124e4bab0579db0452.png">
    <p>
        Крім цього, у нас є розділ зі статистикою матчів та гравців, який дозволяє вам глибоко аналізувати ваші гри та оцінювати свій прогрес. Використовуйте цей розділ, щоб вивчати сильні та слабкі сторони своїх противників, знаходити нові способи покращити свою гру та підніматися в рейтингу.
    </p>
    <img src="https://clan.cloudflare.steamstatic.com/images/3703047/94658001ed21521413e8dff04f6216197cbe3d33.jpg">
    <p>
        Будьте активними, дотримуйтесь правил поведінки спільноти та насолоджуйтесь великою кількістю цікавих дискусій та корисної інформації. Разом ми зможемо підняти рівень нашої гри та насолоджуватися кожним матчем.
    </p>
    <img src="https://clan.cloudflare.steamstatic.com/images/3703047/eed29f6e3869ae971f31126c94bae2e249332ad6.png">
    <span>
        Бажаємо вам успіху та чудового досвіду в Dota 2!
    </span>
    <br>
    <div class="ending"> 
        <span>
            Команда Dotapedia
        </span>
        <img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/heroes/crops/pudge.png">
    </div>
</div>

