.pagination button:not(.active){
    color: white;
}

.leagues{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    
}
.league{
    width: 90%;
    margin: 0.5em;
    padding: 3em;
    text-align: center;
    align-items: center;
    background-color: var(--block);
    cursor: pointer;
}
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.league-panel{
    justify-self: self-start;
    padding: 1em;
    background-color: var(--block);
    display: flex;
    justify-content: space-evenly; 
    border-radius: 30px; 
    max-width: 20em;;
    margin: 1em;
}